
{% extends 'app_general/components/base.html' %}

{% block site_title %}เกี่ยวกับหมู่เฮา - {% endblock %}

{% block content %}
<section class="content-section content-section-single">
  <div class="content-container">
    <center><h3 class="content-title">เกี่ยวกับซูชิหัวใจเซิ้ง</h3></center>
    <h3> ข้อมูลทั่วไปของร้าน</h5>
    <p>ชื่อร้าน: ซูชิหัวใจเซิ้ง
      ประเภทอาหาร: อาหารญี่ปุ่น
      ที่อยู่: 123 ถนนชูชิสตรีท, แขวงชูชิเมือง, เขตชูชิโก, ขอนแก่น 40000
      เวลาเปิด-ปิด: 11:00 - 22:00 น.</p>
    <h3>การนำเข้าวัตถุดิบ</h5>
    <p>เทคนิคการปรุงอาหาร: ใช้เทคนิคการปรุงอาหารญี่ปุ่นที่แท้จริง, การเตรียมอาหารด้วยความใส่ใจและความเชี่ยวชาญ.
      วัตถุดิบที่ใช้: นำเข้าวัตถุดิบคุณภาพสูงจากญี่ปุ่น เช่น ปลาสด, สาหร่าย, ข้าว, และเครื่องปรุง.</p>
    <h3>คำขวัญ</h5>
    <p>"ชูชิหัวใจเซิ้ง ที่ทำให้คุณรู้สึกว่าคุณกำลังอยู่ในญี่ปุ่น"
      ข้อดีของร้าน:
      ความสดของวัตถุดิบ: ใช้วัตถุดิบสดและคุณภาพสูง, นำเข้าจากญี่ปุ่นเพื่อให้ลูกค้าได้สัมผัสรสชาติแท้จริงของอาหารญี่ปุ่น.
      เมนูครบถ้วน: มีเมนูทั้งอาหารดั้งเดิมและอาหารสไตล์วิธีชูชิ, รวมถึงเมนูพิเศษและสปาเซียลที่ทางร้านคัดสรรมาเพื่อความหลากหลาย.
      บริการที่เป็นมิตร: ทีมงานที่ให้บริการด้วยความเอาใจใส่และต้อนรับลูกค้าด้วยความยิ้ม.
      บรรยากาศที่สุดยอด:
      ภูมิทัศน์แบบโทรศัพท์ญี่ปุ่น: ตกแต่งด้วยภาพวิวที่สวยงามและอิธิพลญี่ปุ่น เสียงดนตรีที่เลือกด้วยความระมัดระวังเพื่อให้ลูกค้ารู้สึกเหมือนอยู่ในโลกของญี่ปุ่น.
      พื้นที่ส่วนตัว: มีบริการห้องส่วนตัวสำหรับการจัดงานพิเศษ</p>
  </div>
</section>
{% endblock %}