{% extends 'app_general/components/base.html' %}
{% load static %}

{% block content %}

<section class="home-landing">
  <h1 class="home-landing-text">ซูชิหัวใจเซิ้ง</h1>
  <h4 class="home-landing-text">ซื้อเป็นร้อย ก็ยังน้อยอยู่ดี อร่อยนัว ไม่ต้องกลัวผมร่วง</h4>
  <h5 class="home-landing-text">ร้านเปิดให้บริการทุกวันจันทร์แรก จันทร์ที่สอง หรือจันทร์ที่สาม ของแต่ละเดือน👁️🫦👁️</h6>
  <p>
    <a class="button button-primary" href="{% url 'foods' %}">ดูเมนูทั้งหมด</a>
    <a class="button button-primary" href="{% url 'subscription' %}">ลงทะเบียนรับโปรโมชั่น</a>
  </p>
</section>
<section class="content-section">
  <div class="content-container">
   
    <div class="grid grid-3">
      <div>
        <img class="image-block" src="{% static 'app_general/photobg.png' %}">
        <p>ขอเชิญคุณมาร่วมรับประทานอาหารซูชิที่ร้านของเราครับ/ค่ะ! เรามีเนื้อปลาสดๆและสไตล์การเสิร์ฟที่อร่อยมาก มาแล้วรับประทานอาหารอร่อยๆกันครับ/ค่ะ!</p>
      </div>
      <div>
        <img class="image-block" src="{% static 'app_general/photobg2.png' %}">
        <p>เรากำลังจะไปร้านซูชิและเราอยากเชิญคุณมาร่วมกัน! </br>คุณสนใจมั้ย?</p>
      </div>
      <div>
        <img class="image-block" src="{% static 'app_general/photobg3.png' %}">
        <p>หวังว่าคุณจะมากินซูชิในร้านของเราเพื่อสัมผัสประสบการณ์ทานอาหารที่อร่อย!</p>
      </div>
    </div>
    <p class="text-center">
      <a class="button" href="{% url 'about' %}">เกี่ยวกับซูชิหัวใจเซิง</a>
      
    </p>
  </div>
</section>
{% endblock %}
